html, body {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(to bottom right, #192a56, #487eb0);
}
.container, .container_larger {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100vh;
  flex-direction: column;
}

.container__head, .container__head2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 120%;
  margin-left: -10%;
  color: white;
}

.container__head {
  font-size: 6vw;
}
.container__head2 {
  font-size: 3.5vw;
}

.container__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container__input, .container__button, .container__checkbox {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}
/* --- Container Inputs */
/* TODO: input inserting shows backgroud: white */
.container__input {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
  border-bottom: 2px solid white;
  font-size: 25px;
  padding: 5px 0;
}

.container__input::placeholder {
  color: #C8D4DB;
  text-align: center;
}

.container__input-error {
  border-color: red;
  color: red;
}
.container__input-error::placeholder {
  color: red;
}


.container__input:focus{
    outline: none;
}

.container__row {
  display: flex;
  align-items: center;
}
.container__checkbox {
  width: 50px;
  height: 50px;
  transform: scale(1.5);
  margin: 10px 10px 10px 0;
}
/* --- Container Buttons */
.container__button {
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  color: #000007;
  padding: 10px;
  background: #fff;
  align-items: center;
  justify-content: center;
}

.share_container__button_qr {
  margin: auto;
  font-size: 30px;
  width: 30vw;
  height: 10vw;
}


.container__button-larger_margin {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .container__head {
    font-size: 10vw;
  }
  .container {
    width: 70%;
  }
  .container_larger {
    width: 70%;
  }

}
@media (min-width: 600px) {
  .container__head {
    font-size: 6vw;
  }
  .container {
    width: 40%;
  }

  .container_larger {
    width: 70%;
  }

}


.container__icon {
  font-size: 4.5vw;
}

.container__a {
  text-decoration: none;
}
.container__url {
  color: white;
  width: 30vw;
  margin: 20px 0 20px 20px;
  border-bottom: 1px solid white;
}
