<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoveOn</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div>
        <h1 class="big">Friends Locator</h1>
        <form action="/login" method="post">
            <input id="login" class="prompt" name="login" placeholder="Login" type="text"/>
            <input id="password" name="pasw" placeholder="Password" type="text"/>
            <input id="log_in" class="button" type="submit" value="Log In"/>
            <input id="sing_up" class="button" type="submit" value="Log In"/>
        </form>
        <!--<form action="/register" method="post">-->
            <!--<input id="sign_up" class="button" type="submit" value="Sign Up"/>-->
        <!--</form>-->
    </div>
</body>
</html>