<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MoveOn</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="container">
    <h1 class="container__head">Friends Locator</h1>
    <form method="post" id='login_form' class="container__form">
      <input class="container__input" id="login" class="prompt" name="login" placeholder="Username" type="text" />
      <input class="container__input" id="password" name="pasw" placeholder="Password" type="text" />
      <button class="container__button container__button-larger_margin" id="log_in" class="button" type="submit">Log In</button>
      <button class="container__button" id="sing_up" class="button">Sing Up</button>
    </form>
  </div>

  <script type="text/javascript">
    const form = document.getElementById('login_form');
    const login = document.getElementById('log_in');
    login.onclick = function(button) {
      form.action = '/login';
      form.submit();
    }
    const singup = document.getElementById('sing_up');
    singup.onclick = function(button) {
      form.action = '/sing_up';
      form.submit();
    }
  </script>
</body>

</html>
