<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MoveOn</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src="/static/instascan.min.js"></script>

</head>

<body>
  <div class="container_larger" action='/qr/' method="post">
    <h1 class="container__head">Hizer me! 👋</h1>
    <video id="preview"></video>
  </div>

  <script type="text/javascript">
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
      window.location = content;
      // TODO: check if QR not from it

    });

    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  </script>
</body>

</html>
