<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MoveOn</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="container" action='/register' method="post">
    <h1 class="container__head2">Enter the data to register</h1>
    <form id='register_form' method="post" class="container__form" action='/register'>
      <input id='username' class="container__input" name="login" placeholder="Username" type="text" />
      <input id='password' class="container__input" name="pasw" placeholder="Password" type="text" />
      <input class="container__input" name="phone" placeholder="Mobile phone" type="text" />
      <input class="container__input" name="email" placeholder="E-mail" type="text" />
      <input class="container__input" name="facebook" placeholder="Facebook" type="text" />
      <input class="container__input" name="telegram" placeholder="Telegram" type="text" />
      <input class="container__input" name="twitter" placeholder="Twitter" type="text" />
      <input class="container__input" name="instagram" placeholder="Instagram" type="text" />
      <button class="container__button" type="submit">Sign Up</button>
    </form>
  </div>

  <script type="text/javascript">
    const form = document.getElementById('register_form');
    const username = document.getElementById('username');
    const password = document.getElementById('password');
    let check = false;

    form.onsubmit = () => {
      if (!username.value) {
        return false;
      }

      let http = new XMLHttpRequest();
      let params = 'username=' + username.value;
      console.log(params);
      http.open('POST', '/check_username?' + params, true);

      //Send the proper header information along with the request
      http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

      http.onreadystatechange = function() { //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          if (http.responseText == '0') {
            username.classList.add('container__input-error');
          } else {
            username.classList.remove('container__input-error');

            if (password.value.length < 6) {
              password.classList.add('container__input-error');
            } else {
              check = true;
              form.submit();
            }
          }
        }
      }
      http.send();


      return check


    };
    // username
  </script>
</body>

</html>
