<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MoveOn</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <div class="container">
    <h1 class="container__head2">Enter the data to register</h1>
    <form class="container__form" action='/register'>
      <input class="container__input" name="phone" placeholder="Username" type="text" />
      <input class="container__input" name="email" placeholder="Password" type="text" />
      <input class="container__input" name="phone" placeholder="Mobile phone" type="text" />
      <input class="container__input" name="email" placeholder="E-mail" type="text" />
      <input class="container__input" name="facebook" placeholder="Facebook" type="text" />
      <input class="container__input" name="telegram" placeholder="Telegram" type="text" />
      <input class="container__input" name="twitter" placeholder="Twitter" type="text" />
      <input class="container__input" name="instagram" placeholder="Instagram" type="text" />
      <button class="container__button" type="submit">Sing Up</button>
    </form>
  </div>
</body>

</html>
