<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/style_register.css">
</head>
<body>
    <div>
        <h1 class="big">Friends Locator</h1>
        <form action="/" method="post">
            <input id="login" class="prompt" name="login" placeholder="Login" type="text"/>
            <input id="password" name="pasw" placeholder="Password" type="text"/>
            <input id="phone number" name="phonenum" placeholder="Phone number" type="text"/>
            <input id="email" name="email" placeholder="E-mail" type="text"/>
            <input id="telegram" name="telegram" placeholder="Telegram" type="text"/>
            <input id="submit" class="button" type="submit" value="Submit"/>
{#            <input id="sign_up" class="button" type="submit" value="Sign Up"/>#}
        </form>
    </div>
</body>
</html>