<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MoveOn</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <div class="container" action='/qr/' method="post">
    <h1 class="container__head2">Choose data to share</h1>
    <form id='share_form' method="post" class="container__form" action='/register'>

      <div class="container__row">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>

      <div class="container__row">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>


      <div class="container__row">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>

      <div class="container__row">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>


      <div class="container__row">
        <i class="fa fa-telegram" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>

      <div class="container__row">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>
      <div class="container__row">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <div class="">

        </div>
      </div>
      <button id='share_file' class='container__button' type="submit" name="button">GET QR</button>
    </form>
  </div>

</body>

</html>
