<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MoveOn</title>
  <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <div class="container" action='/qr/' method="post">
    <h1 class="container__head2">There are contacts your friend shared with you</h1>
    <form id='share_form' method="post" class="container__form" action='/register'>
      {% if accounts['phone'] %}
      <div class="container__row">
        <i class="container__icon fa fa-phone-square" aria-hidden="true"></i>
        <a class='container__a' href="{{ accounts.phone }}" target='blank'><div class="container__url">
          {{ accounts.phone }}
        </div></a>
      </div>
      {% endif %}

      {% if accounts.username %}
      <div class="container__row">
        <i class="container__icon fa fa-user-circle" aria-hidden="true"></i>
        <a class='container__a' href="{{ accounts.username }}" target='blank'><div class="container__url">
          {{ accounts.username }}
        </div></a>
      </div>
      {% endif %}

      {% if accounts.email %}
      <div class="container__row">
        <i class="container__icon fa fa-envelope" aria-hidden="true"></i>
        <a class='container__a' href="{{ accounts.email }}" target='blank'><div class="container__url">
          {{ accounts.email }}
        </div></a>
      </div>
      {% endif %}


      {% if accounts.facebook %}
      <div class="container__row">
        <i class="container__icon fa fa-facebook-official" aria-hidden="true"></i>
        <a class='container__a' href="{{ accounts.facebook }}" target='blank'><div class="container__url">
          {{ accounts.facebook }}
        </div></a>
      </div>
      {% endif %}


      {% if accounts.telegram %}
      <div class="container__row">
        <i class="container__icon fa fa-telegram" aria-hidden="true"></i>
        <a class='container__a' href="{{ accounts.telegram }}" target='blank'><div class="container__url">
          {{ accounts.telegram }}
        </div></a>
      </div>
      {% endif %}

      {% if accounts.twitter %}
      <div class="container__row">
        <i class="container__icon fa fa-twitter-square" aria-hidden="true"></i>
        <a class='container__a' href="{{accounts.twitter}}" target='blank'><div class="container__url">
          {{accounts.twitter}}
        </div></a>
      </div>
      {% endif %}

      {% if accounts.instagram %}
      <div class="container__row">
        <i class="container__icon fa fa-instagram" aria-hidden="true"></i>
        <a class='container__a' href="{{accounts.instagram}}" target='blank'><div class="container__url">
          {{accounts.instagram}}
        </div></a>
      </div>
      {% endif %}


    </form>
  </div>

</body>

</html>
